{% extends 'base.html' %}
{% load static %}

{% block title %}
{{object}}
{% endblock title %}

{% block style %}
<style>
svg:hover{
    background-color: #e6ecf0;
}
.mid_head{
    font-size: larger;
    font-weight: bolder;
}
button:focus{
   outline:none;
}
.follow{
    /* margin-top: 270px; */
    margin-right: 20px;
    width: 100px;
    height: 40px;
    float: right;
    color: #007bff; 
    background-color: transparent;
    font-size: large;
    font-weight: bolder;
    border-color: #007bff;
    display: block;
    border-radius: 50px;
}
.edit_profile{
    margin-right: 20px;
    width: 150px;
    height: 40px;
    float: right;
    color: #007bff; 
    background-color: transparent;
    font-size: large;
    font-weight: bolder;
    border-color: #007bff;
    display: block;
    border-radius: 50px;
}
.edit_profile:hover{
    outline: none;
    background-color: #cce8fa;
}
.following{
    /* margin-top: 270px; */
    margin-right: 20px;
    width: 100px;
    height: 40px;
    float: right;
    color: white; 
    background-color: #007bff;
    font-size: large;
    font-weight: bolder;
    border-color: #007bff;
    display: block;
    border-radius: 50px;
}
.following:hover{
    background-color: red;
    border-color: red;
}
.following:hover span {display:none}
.following:hover:before{content:"Unfollow"}
.follow:hover{
    outline: none;
    background-color: #cce8fa;
}
.profile_name .name{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.profile_name .user_name{
    text-align: center;
    color: #657786;
    font-weight: lighter;
    font-size: medium;
}
.profile_name .description{
    font-size: large;
}
svg:hover{
    background-color: #e6ecf0;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: black;
}
textarea {
    width: 600px;
    overflow: hidden;
    border: none;
    resize: none;
}
.image .r-1xvli5t{
    width: 1.25em;
    fill: #657786;
    cursor: pointer;
    display: inline-block;
    align-items: center;
    margin-inline-end: 130px;
    
}
.image .like, .image .comment{
    width: 1.25em;
    fill: #657786;
    cursor: pointer;
    display: inline-block;
    align-items: center;
    /* margin-inline-end: 130px; */
}
.r-1xvli5t:hover{
    fill: #1b95e0;
}

.r-1xvli5t, .like, .liked, .comment{
    height: 1.25em;
}   
.box .comment:hover{
    fill: #1b95e0;
}
.box .like,.box .comment{
    width: 1.25em;
    fill: #657786;
    cursor: pointer;
    display: inline-block;
    align-items: center;
    /* margin-inline-end: 130px; */
}
.box{
    margin-inline-end: 130px;
    }
.box .liked {
    width: 1.25em;
    cursor: pointer;
    display: inline-block;
    align-items: center;
    /* margin-inline-end: 130px;     */
    fill: #e0245e;
}
.like:hover{
    fill: #e0245e;
}
.count{
    margin-left: 10px;
    font-size: medium;
    color: #657786;
    margin-bottom: 10px;
}
.title{
    font-weight: bolder;
    font-size: large;
}
.user_name{
    color: #7f8e9a;
}
.hastag{
    color: #1b95e0;
}

.btm{
    margin-right: 300px;
}
.btm svg{
    /* display: inline-block; */
    margin-inline-end: 20px;
    height: 25px;
    width: 25px;    
}
.comment_user{
    font-weight: bolder;
}
.user{
    color: #1b95e0;
}
.user_pub{
    color: #5b7083;
}
</style>

{% endblock style %}

{% block head %}
<a>
<svg onclick="goBack()" style="float:left" viewBox="0 0 24 24" class="r-13gxpu9 r-4qtqp9 r-yyyyoo r-1q142lx r-50lct3 r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1srniue"><g><path d="M20 11H7.414l4.293-4.293c.39-.39.39-1.023 0-1.414s-1.023-.39-1.414 0l-6 6c-.39.39-.39 1.023 0 1.414l6 6c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414L7.414 13H20c.553 0 1-.447 1-1s-.447-1-1-1z"></path></g></svg>
</a>
<span class="mx-4 top_head">{{object.user}}</span>
{% endblock head %}

{% block gap %}
{% endblock gap %}

{% block main_post %}
{% endblock main_post %}

        {% block mid_body %}
        <div class="profile_user_post">
            <div class="row profile_name">
                <div class="bgd" style="background-color: gray; height:250px; width: 100%;">
                    {% if object.profile_image %}
                    <img src="/media/{{object.profile_image}}" alt="Avatar" style="height: 180px; border: 5px solid white; margin-left: 20px; margin-top: 150px; width: 180px; border-radius: 50%;">
                    {% else %}
                    <img src="{% static 'img/prof.jpg' %}" alt="Avatar" style="height: 180px; border: 5px solid white; margin-left: 20px; margin-top: 150px; width: 180px; border-radius: 50%;">
                    {% endif %}
                    {% if object.user == prof_user.user %}
                    <button class="edit_profile " style="margin-top: 300px;" type="submit"><span>Edit profile</span></button>
                    {% else %}
                    <form action="{% url 'profiles:follow-unfollow-profile' %}" method="POST">
                        {% csrf_token %}
                    <input type="hidden" name="profile_pk" value={{object.pk}}>
                        {% if object.user in prof_user.following.all %}
                            <button class="following " type="submit"><span>Following</span></button>

                        {% else %}
                            <button class="follow " type="submit">Follow</button>
                            
                        {% endif %}
                    {% endif %}
                    </form>
                    <div class="col">
                        <span class="name">{{object.user.get_full_name}}</span>
                        <br>
                        <span class="user_name" style="text-transform: lowercase;">@{{object.user}} {{object.created}}</span>
                        <br>
                    </div>
                    
                    <div class="col-4 description my-3" >

                        {{object.bio|linebreaks}}
                    </div>
                    <div class="profile_following mx-3">
                    <strong style="font-size: medium;">{{object.following.all.count}}</strong>
                    <span style="color:#657786;">Following</span>
                    <span class="mx-4">Joined<svg viewBox="0 0 24 24" style="height: 30px; width: 30px;" class="r-1re7ezh r-4qtqp9 r-yyyyoo r-1xvli5t r-7o8qx1 r-dnmrzs r-bnwqim r-1plcrui r-lrvibr"><g><path d="M19.708 2H4.292C3.028 2 2 3.028 2 4.292v15.416C2 20.972 3.028 22 4.292 22h15.416C20.972 22 22 20.972 22 19.708V4.292C22 3.028 20.972 2 19.708 2zm.792 17.708c0 .437-.355.792-.792.792H4.292c-.437 0-.792-.355-.792-.792V6.418c0-.437.354-.79.79-.792h15.42c.436 0 .79.355.79.79V19.71z"></path><circle cx="7.032" cy="8.75" r="1.285"></circle><circle cx="7.032" cy="13.156" r="1.285"></circle><circle cx="16.968" cy="8.75" r="1.285"></circle><circle cx="16.968" cy="13.156" r="1.285"></circle><circle cx="12" cy="8.75" r="1.285"></circle><circle cx="12" cy="13.156" r="1.285"></circle><circle cx="7.032" cy="17.486" r="1.285"></circle><circle cx="12" cy="17.486" r="1.285"></circle></g></svg>
                    {{object.created}}
                    </span>
                    </div>
                    <hr>

                    <div class="image" style="text-align: center;">  
                    <span  style="text-align: center; font-size: larger;  font-weight: bold; color: #007bff;">Tweets</span>
                    <hr>  
                    </div>

                        <div class="follow_user_post mx-4">
                        {% for post in object.profile_posts %}
                            <div class="row profile_name">
                                <img src="/media/{{object.profile_image}}" alt="Avatar" style="height: 50px; width: 50px; border-radius: 50%;">
                                <div class="col ">
                                <span class="follow_user">{{object.user.get_full_name}} </span>
                                <span class="user_pub" style="text-transform: lowercase;">@{{post.author.user}} . Nov 5</span>
                                <br>
                                <div class="row description mx-4">
                                    {{post.body}}
                                </div>
                                <div class="hastags mx-4 my-4">
                                    {{post.hastag}}
                                </div>
                                <div class="image">
                    {% if post.post_image == "False" %}
                    {% else %}
                    <img src='/media/{{post.post_image}}' style="border-radius: 20px;" width="160px">
                    <br><br>
                    {% endif %}
                    <div class="row mx-2">
                        <div class="r-1xvli5t">
                            <svg viewBox="0 0 24 24" class="r-4qtqp9 r-yyyyoo  r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1hdv0qi"><g><path d="M14.046 2.242l-4.148-.01h-.002c-4.374 0-7.8 3.427-7.8 7.802 0 4.098 3.186 7.206 7.465 7.37v3.828c0 .108.044.286.12.403.142.225.384.347.632.347.138 0 .277-.038.402-.118.264-.168 6.473-4.14 8.088-5.506 1.902-1.61 3.04-3.97 3.043-6.312v-.017c-.006-4.367-3.43-7.787-7.8-7.788zm3.787 12.972c-1.134.96-4.862 3.405-6.772 4.643V16.67c0-.414-.335-.75-.75-.75h-.396c-3.66 0-6.318-2.476-6.318-5.886 0-3.534 2.768-6.302 6.3-6.302l4.147.01h.002c3.532 0 6.3 2.766 6.302 6.296-.003 1.91-.942 3.844-2.514 5.176z"></path></g></svg>
                        </div>
                    </a>
                    <div class="box row">
                    <svg viewBox="0 0 24 24" data-toggle="modal" data-target="#static{{post.pk}}" class="comment r-4qtqp9 r-yyyyoo  r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1hdv0qi"><g><path d="M23.77 15.67c-.292-.293-.767-.293-1.06 0l-2.22 2.22V7.65c0-2.068-1.683-3.75-3.75-3.75h-5.85c-.414 0-.75.336-.75.75s.336.75.75.75h5.85c1.24 0 2.25 1.01 2.25 2.25v10.24l-2.22-2.22c-.293-.293-.768-.293-1.06 0s-.294.768 0 1.06l3.5 3.5c.145.147.337.22.53.22s.383-.072.53-.22l3.5-3.5c.294-.292.294-.767 0-1.06zm-10.66 3.28H7.26c-1.24 0-2.25-1.01-2.25-2.25V6.46l2.22 2.22c.148.147.34.22.532.22s.384-.073.53-.22c.293-.293.293-.768 0-1.06l-3.5-3.5c-.293-.294-.768-.294-1.06 0l-3.5 3.5c-.294.292-.294.767 0 1.06s.767.293 1.06 0l2.22-2.22V16.7c0 2.068 1.683 3.75 3.75 3.75h5.85c.414 0 .75-.336.75-.75s-.337-.75-.75-.75z"></path></g></svg>
                    <span class="count">
                        {{post.comments.all.count}}
                    </span>
                    </div>
                    <a href="/home/like/{{post.pk}}">
                    <div class="box row">
                    {% if request.user not in post.liked.all %}
                    <svg viewBox="0 0 24 24" class="like r-4qtqp9 r-yyyyoo  r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1hdv0qi"><g><path d="M12 21.638h-.014C9.403 21.59 1.95 14.856 1.95 8.478c0-3.064 2.525-5.754 5.403-5.754 2.29 0 3.83 1.58 4.646 2.73.814-1.148 2.354-2.73 4.645-2.73 2.88 0 5.404 2.69 5.404 5.755 0 6.376-7.454 13.11-10.037 13.157H12zM7.354 4.225c-2.08 0-3.903 1.988-3.903 4.255 0 5.74 7.034 11.596 8.55 11.658 1.518-.062 8.55-5.917 8.55-11.658 0-2.267-1.823-4.255-3.903-4.255-2.528 0-3.94 2.936-3.952 2.965-.23.562-1.156.562-1.387 0-.014-.03-1.425-2.965-3.954-2.965z"></path></g></svg>
                    <span class="count">
                    {{post.liked.all.count}}
                    </span>
                    {% else %}
                    <svg viewBox="0 0 24 24" class="liked r-4qtqp9 r-yyyyoo  r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1hdv0qi"><g><path d="M12 21.638h-.014C9.403 21.59 1.95 14.856 1.95 8.478c0-3.064 2.525-5.754 5.403-5.754 2.29 0 3.83 1.58 4.646 2.73.814-1.148 2.354-2.73 4.645-2.73 2.88 0 5.404 2.69 5.404 5.755 0 6.376-7.454 13.11-10.037 13.157H12z"></path></g>{{post.liked.all.count}}</svg>                    
                    <span class="count">
                        {{post.liked.all.count}}
                    </span>
                    {% endif %}
                </div>
                </a>
                    <svg viewBox="0 0 24 24" class="r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1hdv0qi"><g><path d="M17.53 7.47l-5-5c-.293-.293-.768-.293-1.06 0l-5 5c-.294.293-.294.768 0 1.06s.767.294 1.06 0l3.72-3.72V15c0 .414.336.75.75.75s.75-.336.75-.75V4.81l3.72 3.72c.146.147.338.22.53.22s.384-.072.53-.22c.293-.293.293-.767 0-1.06z"></path><path d="M19.708 21.944H4.292C3.028 21.944 2 20.916 2 19.652V14c0-.414.336-.75.75-.75s.75.336.75.75v5.652c0 .437.355.792.792.792h15.416c.437 0 .792-.355.792-.792V14c0-.414.336-.75.75-.75s.75.336.75.75v5.652c0 1.264-1.028 2.292-2.292 2.292z"></path></g></svg>
                    </div>
                </div>
            </div>
    
                
                            </div>
                            <hr>
                        {% endfor %}
                        </div>
                        <hr>

                </div> 
            </div>
        </div>
        <!-- <hr> -->
        {% endblock mid_body %}